@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

.banner {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content {
  color: white;
  opacity: 0.7;
  padding: 0.5em;
}

.heading {
  position: absolute;
  font-size: 2.1em;
  letter-spacing: 1px;
  line-height: 1.2;
}

.tagline {
  position: absolute;
  bottom: 8%;
  font-size: 1em;
}
