@import 'part:@sanity/base/theme/variables-style';

.wrapper {
  padding: 1rem;
}

.selectionWrapper {
  display: flex;
  flex-wrap: wrap;

  @nest & div[class*="DefaultSelect_root"] {
    flex: 1;
    margin-right: 0.5em;
  }
}

.transcriptHeading {

  margin: 0;
  margin-top: 1rem;
}

.transcriptBody {
  margin: 0;
  overflow-wrap: break-word;
  font-size: 2em;
}

.disclaimer {
  line-height: 1;
  max-width: 720px;
}
