@import '../styles/media-queries.css';
@import '../styles/vars.css';

.mainImage {
  position: relative;
  background: #eee;
  padding-bottom: calc(9 / 16 * 100%);

  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
  }
}