@import '../styles/vars.css';

.root {
  margin: 2rem 0 3rem;
  border-top: 1px solid var(--color-black);
}

.headline {
  composes: base from './typography.module.css';
  margin: 0.5rem 0 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listItem {
  font-size: var(--font-small-size);
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @nest & > div:last-child {
    flex: 1;
    margin-left: 1rem;
  }
}

.avatar {
  position: relative;
  width: 3em;
  height: 3em;
  background: #eee;
  border-radius: 50%;
  overflow: hidden;

  @nest & img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
  }
}
